header {
background-color:#031766;
text-align:center;
padding:5px 0;
         }

.logo {
  width:100%;       /* Ocupa el 100% de la pantalla */
  max-width:100%;   /* Remueve la restricción de 800px */
  margin: 0;         /* Elimina márgenes laterales */
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
nav {
  width:100%;
  text-align:center;
  background-color:#031766;
  margin:0;
}
nav a {
display:inline-block;
margin: 5px; /*Cambia el ancho del fondo del Menu*/
padding:12px;
background-color:#222; /*color oscuro para el fondo del boton*/
color: #ffffff;
font-family:Montserrat, sans-serif;
font-size: 1em;
text-decoration: none;/* quita el subrayado*/
border-radius:10px; /*bordes redondeados*/
transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
color:#8F8F8F; /*color del texto al pasar el cursor*/
background-color:#031766;
}

body {
  margin: 0;
  background-image: url(https://pbs.twimg.com/media/HFSArPob0AAslW5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}                                                                                                                                                                                                                                                                                                            
 
section {
background-color:#9CB9DB;
color: black;
width:70%;
max-width: 900px;
margin:10px auto;
font-size:20px;
padding:20px;
border-radius:10px;
text-align:justify;
font-family:Comic Sans MS,sans-serif;
}

section h1 {
text-align:center;
color:blue;
font-family:Comic Sans MS,sans-serif;
}
 
.centrar {
text-align:center;
}

 .centrar img { 
  width: 100%; 
  max-width: 600px; 
  height: auto;
}

.video {
width: 100%;
max-width: 560px;
aspect-ratio: 16 / 9;
border:none;
}

footer {
 background-color:#031766;
 color:#8F8F8F;
 text-align:center;
 padding:15px;
 font-family:Comic Sans MS,sans-serif;
}

@media (max-width:600px) {

nav a {
display:block;
width: 90%;
margin: 10px auto;
}
section {
width: 85%;
font-size:18px;
text-align:left;
}

.logo h1 {
font-size: 32px;
      }
}



